#--------------------------------------------------
# editor
#--------------------------------------------------
export EDITOR=nvim


#--------------------------------------------------
# direnv
#--------------------------------------------------
if type direnv >/dev/null 2>&1; then
  eval "$(direnv hook zsh)"
fi


#--------------------------------------------------
# asdf - https://github.com/asdf-vm/asdf
#--------------------------------------------------

# asdf install directory
export ASDF_DIR=$HOME/.asdf

if [ -d "$ASDF_DIR" ]; then
  source $ASDF_DIR/asdf.sh
  source $ASDF_DIR/completions/asdf.bash

  # nodejs
  export GNUPGHOME="$ASDF_DIR/keyrings/nodejs" && mkdir -p "$GNUPGHOME" && chmod 0700 "$GNUPGHOME"
fi


#--------------------------------------------------
# golang
#--------------------------------------------------
#export GOPATH=$HOME/go
#export PATH=$GOPATH/bin:$PATH


#--------------------------------------------------
# Google Cloud SDK
#--------------------------------------------------

# Google Cloud SDK install directory
export GCP_SDK_DIR=/usr/local/etc/google-cloud-sdk

if [ -d "$GCP_SDK_DIR" ]; then
  # The next line updates PATH for the Google Cloud SDK.
  source $GCP_SDK_DIR/path.zsh.inc

  # The next line enables shell command completion for gcloud.
  source $GCP_SDK_DIR/completion.zsh.inc
fi
